<div class="container">
    <div class="card-group">
        <% @user.friends.each do |t| %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= t.name %></h5>
                    <% if t.gifts.count > 0 %>
                        <% if t.gifts.count {|i| i.purchased == false} > 0 %>
                            <p class="card-text">You have <%= t.gifts.count {|i| i.purchased == false} %> left to get for <%= t.name %>.</p>
                        <% else %>
                            <p class="card-text">You have gotten all <%= t.name %>'s gifts!</p>
                        <% end %>
                        <a href="/friends/<%= t.id %>"class="card-link">Gifts</a>
                    <% end %>
                    <a href="/gifts/<%= t.id %>/new" class="card-link">Add a Gift</a>
                </div>
            </div>
        <% end %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Friend</h5>
                <form method="post" action="/friends/new">
                    <div class="form-group">
                        <label for "name" class="card-text">Add a Friend</label> 
                        <input type="text" class="form-control" name="name" placeholder="Friend's Name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


  