<div class="container">
    <h3><%= @friend.name %></h3>
</div>

<div class="container">
    <div class="card-group">
        <% if !@friend.gifts.empty? %>
            <% @friend.gifts.each do |gift| %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= gift.name %></h5>
                        <% if gift.purchased %>
                            <p class="card-text">This gift has been purchased!</p>
                            <form action="/gifts/<%= gift.id %>/save" method="post">
                                <input id="hidden" type="hidden" name="_method" value="patch">
                                <input id="hidden" type="hidden" name="purchased" value="false">
                                <button class="btn btn-primary" type="submit">Add back to list.</button>
                            </form>
                        <% else %>
                            <p class="card-text">$<%= gift.price %></p>
                            <form action="/gifts/<%= gift.id %>/save" method="post">
                                <input id="hidden" type="hidden" name="_method" value="patch">
                                <input id="hidden" type="hidden" name="purchased" value="true">
                                <button class="btn btn-primary" type="submit">Purchased!</button>
                            </form>
                        <% end %>
                        <form action="/gifts/<%= gift.id %>" method="post">
                            <input id="hidden" type="hidden" name="_method" value="delete">
                            <button class="btn btn-primary" type="submit">Delete Gift</button>
                        </form>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Gift</h5>
                <a href="/gifts/<%= @friend.id %>/new" class="btn btn-primary">Add a gift!</a>
            </div>
        </div>
</div>


