<div class="container">
    <h3><%= @friend.name %></h3>
</div>

<div class="container">
    <div class="card-group">
        <% if !@friend.gifts.empty? %>
            <% @friend.gifts.each do |gift| %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= gift.name %></h5>
                        <% if gift.purchased %>
                            <p class="card-text">This gift has been purchased!</p>
                            <form action="/gifts/<%= gift.id %>/save" method="post">
                                <input id="hidden" type="hidden" name="_method" value="patch">
                                <input id="hidden" type="hidden" name="purchased" value="false">
                                <button class="btn btn-primary" type="submit">Add back to list.</button>
                            </form>
                        <% else %>
                            <p class="card-text">$<%= gift.price %></p>
                            <form action="/gifts/<%= gift.id %>/save" method="post">
                                <input id="hidden" type="hidden" name="_method" value="patch">
                                <input id="hidden" type="hidden" name="purchased" value="true">
                                <button class="btn btn-primary" type="submit">Purchased!</button>
                            </form>
                        <% end %>
                        <form action="/gifts/<%= gift.id %>" method="post">
                            <input id="hidden" type="hidden" name="_method" value="delete">
                            <button class="btn btn-primary" type="submit">Delete Gift</button>
                        </form>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Gift</h5>
                <a href="/gifts/<%= @friend.id %>/new" class="btn btn-primary">Add a gift!</a>
            </div>
        </div>
</div>

<!--
<% if !@friend.gifts.empty? %>
<form action="/friends/<%= @friend.id %>/save" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <% @friend.gifts.each do |gift| %>
    <h4><%= gift.name %></h4>
    <input type="checkbox" name="friend[gift_ids][]" value="<%=gift.id%>" <%= 'checked' if gift.purchased %>>Gift has been purchased.<br>
    <a href="/gifts/<%= gift.id %>/delete">Delete Gift</a>
    <br>
    <% end %>
    <br>
    <input type="submit" value="submit" name="submit">
</form>
<% end %>

<a href="/gifts/<%= @friend.id %>/new">Add another gift to the list.</a>
-->
